# personal data
*.csv
*.xlsx
*.ods
*.backup
*.json
!config.example.json
*.txt
!requirements.txt
!requirements-dev.txt
input/
!demo/*.xlsx
model/
finanzen.pbix

# environments / caches
venv/
.venv/
__pycache__/
.idea/
.vscode/
